In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
raw_data=pd.read_csv('eruptions.csv')

In [11]:
raw_data

,volcano_number,volcano_name,eruption_number,eruption_category,area_of_activity,vei,start_year,start_month,start_day,evidence_method_dating,end_year,end_month,end_day,latitude,longitude
0,266030,Soputan,22354,Confirmed Eruption,NaN,NaN,2020.0,3.0,23.0,Historical Observations,2020.0,4.0,2.0,1.112,124.737
1,343100,San Miguel,22355,Confirmed Eruption,NaN,NaN,2020.0,2.0,22.0,Historical Observations,2020.0,2.0,22.0,13.434,-88.269
2,233020,"Fournaise, Piton de la",22343,Confirmed Eruption,NaN,NaN,2020.0,2.0,10.0,Historical Observations,2020.0,4.0,6.0,-21.244,55.708
3,345020,Rincon de la Vieja,22346,Confirmed Eruption,NaN,NaN,2020.0,1.0,31.0,Historical Observations,2020.0,4.0,17.0,10.830,-85.324
4,353010,Fernandina,22347,Confirmed Eruption,NaN,NaN,2020.0,1.0,12.0,Historical Observations,2020.0,1.0,12.0,-0.370,-91.550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11173,324020,Craters of the Moon,21101,Confirmed Eruption,Sunset cone,0.0,-10060.0,NaN,NaN,Radiocarbon (uncorrected),NaN,NaN,NaN,43.420,-113.500
11174,222161,Igwisi Hills,22141,Confirmed Eruption,NE Volcano,1.0,-10450.0,NaN,NaN,Surface Exposure,NaN,NaN,NaN,-4.889,31.933
11175,357121,Quetrupillan,22351,Confirmed Eruption,NaN,3.0,-10658.0,NaN,NaN,Radiocarbon (corrected),NaN,NaN,NaN,-39.496,-71.722
11176,357121,Quetrupillan,22352,Confirmed Eruption,NaN,3.0,-11345.0,NaN,NaN,Radiocarbon (corrected),NaN,NaN,NaN,-39.496,-71.722
11177,390090,Saunders,21099,Confirmed Eruption,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-57.800,-26.483

In [8]:
raw_data.describe(include='all')

,volcano_number,volcano_name,eruption_number,eruption_category,area_of_activity,vei,start_year,start_month,start_day,evidence_method_dating,end_year,end_month,end_day,latitude,longitude
count,11178.000000,11178,11178.000000,11178,4694,8272.000000,11177.000000,10985.000000,10982.000000,9898,4332.000000,4329.000000,4326.000000,11178.000000,11178.000000
unique,NaN,921,NaN,3,2592,NaN,NaN,NaN,NaN,20,NaN,NaN,NaN,NaN,NaN
top,NaN,Etna,NaN,Confirmed Eruption,Naka-dake,NaN,NaN,NaN,NaN,Historical Observations,NaN,NaN,NaN,NaN,NaN
freq,NaN,241,NaN,9900,172,NaN,NaN,NaN,NaN,6390,NaN,NaN,NaN,NaN,NaN
mean,300284.371176,NaN,15666.905439,NaN,NaN,1.947897,622.848260,3.450888,7.015025,NaN,1917.326639,6.220836,13.315996,16.865778,31.572377
std,52321.193203,NaN,3297.612433,NaN,NaN,1.161098,2482.174317,4.071419,9.645386,NaN,157.646408,3.686128,9.831282,30.761752,115.248384
min,210010.000000,NaN,10001.000000,NaN,NaN,0.000000,-11345.000000,0.000000,0.000000,NaN,-475.000000,0.000000,0.000000,-77.530000,-179.970000
25%,263310.000000,NaN,12817.250000,NaN,NaN,1.000000,680.000000,0.000000,0.000000,NaN,1895.000000,3.000000,4.000000,-6.102000,-77.656000
50%,290050.000000,NaN,15650.500000,NaN,NaN,2.000000,1847.000000,1.000000,0.000000,NaN,1957.000000,6.000000,15.000000,17.600000,55.708000
75%,343030.000000,NaN,18463.750000,NaN,NaN,2.000000,1950.000000,7.000000,15.000000,NaN,1992.000000,9.000000,21.000000,40.821000,139.394000
max,600000.000000,NaN,22355.000000,NaN,NaN,7.000000,2020.000000,12.000000,31.000000,NaN,2020.000000,12.000000,31.000000,85.608000,179.580000

In [13]:
raw_data['vei'].value_counts()

2.0    4008
1.0    1370
3.0    1150
0.0    1001
4.0     506
5.0     177
6.0      52
7.0       8
Name: vei, dtype: int64

In [17]:
raw_data['eruption_category'].value_counts()

Confirmed Eruption      9900
Uncertain Eruption      1112
Discredited Eruption     166
Name: eruption_category, dtype: int64

In [10]:
raw_data.columns

Index(['volcano_number', 'volcano_name', 'eruption_number',
       'eruption_category', 'area_of_activity', 'vei', 'start_year',
       'start_month', 'start_day', 'evidence_method_dating', 'end_year',
       'end_month', 'end_day', 'latitude', 'longitude'],
      dtype='object')

In [32]:
data=raw_data.drop(['volcano_number', 'volcano_name', 'eruption_number','area_of_activity','evidence_method_dating'
                   ,'start_year','start_day','evidence_method_dating','end_year','end_day','end_month'],axis=1)

In [33]:
data.isnull().sum()

eruption_category       0
vei                  2906
start_month           193
latitude                0
longitude               0
dtype: int64

In [34]:
data['vei'].fillna(data['vei'].mode()[0],inplace=True)

In [35]:
data['start_month'].fillna(data['start_month'].mode()[0],inplace=True)

In [36]:
data

        eruption_category  vei  start_month  latitude  longitude
0      Confirmed Eruption  2.0          3.0     1.112    124.737
1      Confirmed Eruption  2.0          2.0    13.434    -88.269
2      Confirmed Eruption  2.0          2.0   -21.244     55.708
3      Confirmed Eruption  2.0          1.0    10.830    -85.324
4      Confirmed Eruption  2.0          1.0    -0.370    -91.550
...                   ...  ...          ...       ...        ...
11173  Confirmed Eruption  0.0          0.0    43.420   -113.500
11174  Confirmed Eruption  1.0          0.0    -4.889     31.933
11175  Confirmed Eruption  3.0          0.0   -39.496    -71.722
11176  Confirmed Eruption  3.0          0.0   -39.496    -71.722
11177  Confirmed Eruption  0.0          0.0   -57.800    -26.483

[11178 rows x 5 columns]

In [24]:
data['eruption_category'].replace({'Confirmed Eruption':1,'Uncertain Eruption':0,'Discredited Eruption':0},inplace=True)

In [37]:
new_data=data.sample(frac=1).reset_index(drop=True)

In [38]:
new_data

        eruption_category  vei  start_month  latitude  longitude
0      Confirmed Eruption  5.0          0.0   -38.120    176.500
1      Confirmed Eruption  4.0          0.0    53.256    158.836
2      Confirmed Eruption  3.0         11.0    64.416    -17.316
3      Confirmed Eruption  2.0          0.0    36.406    138.523
4      Confirmed Eruption  4.0          7.0    63.850    -22.566
...                   ...  ...          ...       ...        ...
11173  Confirmed Eruption  0.0          0.0    19.475   -155.608
11174  Confirmed Eruption  1.0          4.0    -6.137    155.196
11175  Confirmed Eruption  1.0          3.0    -3.522    102.615
11176  Confirmed Eruption  2.0          0.0    57.270    160.080
11177  Confirmed Eruption  2.0          0.0    14.809    -61.165

[11178 rows x 5 columns]

In [40]:
x=new_data.drop(['eruption_category'],axis=1)
y=new_data['eruption_category']

In [42]:
from sklearn.model_selection import train_test_split as tts
train_x,test_x,train_y,test_y=tts(x,y,stratify=y,random_state=10,test_size=0.3)

In [43]:
from sklearn.preprocessing import StandardScaler

In [44]:
scaler=StandardScaler()
scaler.fit(train_x)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [45]:
train_x=scaler.transform(train_x)
test_x=scaler.transform(test_x)

In [46]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()

In [47]:
lr.fit(train_x,train_y)

C:\Users\Ajay\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Ajay\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [48]:
lr.score(train_x,train_y)

0.8857361963190185

In [49]:
lr.score(test_x,test_y)

0.8855098389982111

In [50]:
from sklearn.ensemble import RandomForestClassifier
reg=RandomForestClassifier()
reg.fit(train_x,train_y)

C:\Users\Ajay\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [51]:
reg.score(train_x,train_y)

0.9405674846625767

In [52]:
reg.score(test_x,test_y)

0.8828264758497316